# Reference: https://github.com/rust-lang/mdBook/wiki/Automated-Deployment:-GitHub-Actions#github-pages-deploy
name: Deploy
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Install mdbook
        run: |
          mkdir mdbook
          curl -sSL https://github.com/rust-lang/mdBook/releases/download/v0.4.36/mdbook-v0.4.36-x86_64-unknown-linux-gnu.tar.gz | tar -xz --directory=./mdbook          
          echo `pwd`/mdbook >> $GITHUB_PATH
      - name: Install mdbook-admonish
        run: |
          mkdir mdbook-admonish
          curl -sSL https://github.com/tommilligan/mdbook-admonish/releases/download/v1.15.0/mdbook-admonish-v1.15.0-x86_64-unknown-linux-gnu.tar.gz | tar -xz --directory=./mdbook-admonish
          echo `pwd`/mdbook-admonish >> $GITHUB_PATH
      - name: Install mdbook-katex
        run: |
          mkdir mdbook-katex
          curl -sSL https://github.com/lzanini/mdbook-katex/releases/download/v0.5.9/mdbook-katex-v0.5.9-x86_64-unknown-linux-gnu.tar.gz | tar -xz --directory=./mdbook-katex
          echo `pwd`/mdbook-katex >> $GITHUB_PATH
      - name: Deploy GitHub Pages
        run: |
          cd forge-docs-book
          mdbook build
          git worktree add deployed-pages
          git config user.name "Deploy from CI"
          git config user.email ""
          cd deployed-pages
          # Delete the ref to avoid keeping history.
          git update-ref -d refs/heads/deployed-pages
          rm -rf *
          echo `pwd`
          echo `ls ..`
          mv ../book/html/* .
          git add .
          git commit -m "Deploy $GITHUB_SHA to deployed-pages"
          git push --force --set-upstream origin deployed-pages

# NOTE: `gh-pages` branch was replaced w/ `deployed-pages` b/c GitHub
# had an un-removeable default GHAction on branch "gh-pages" that
# over-wrote pushes from the main branch's deploy action (this script)

# Another note- I wish .yml had ability to have variables to avoid
# hardcoding the "forge-docs-book" directory and branch name "deployed-pages"
